<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启驼峰自动映射 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="false"/>
        <setting name="defaultStatementTimeout" value="600"/>
    </settings>
    <plugins>
        <!--水平分表插件-->
        <plugin interceptor="com.google.code.shardbatis.plugin.ShardPlugin">
            <property name="shardingConfig" value="shard-config.xml"/>
        </plugin>
    </plugins>
</configuration>